/*=================
 Fonts 
 ==================*/

 @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/* =========================
Variables 
===========================*/

:root {
    --clr-primary-1: #35155D;
    --clr-primary-2: #512B81;
    --clr-primary-3: #4477CE;
    --clr-primary-4: #8CABFF;

    --clr-white: #fff;
    /* font family */
    --ff-primary: "Lato", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4,
p {
    font-family: var(--ff-primary);
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.portrait {
    border-radius: 80%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--dark-shadow);
    z-index: 2;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-toggle {
    background: transparent;
    border: transparent;
    font: 1.5rem ;
    cursor: pointer;
    transition: var(--transition);
}

.nav-toggle:hover {
    transform: scale(1.2);
}

.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: black;
    cursor: pointer;
    font-size: 1rem;
}

.nav-link:hover {
    color: gray;
    background-color: lightgray;
    padding-left: 2.25rem;
}

/* 280px */
.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links{
    height: 280px;
}

@media screen and (min-width: 992px){

    .navbar{
        padding: 1rem 2rem;
    }
    /* Hide Toggle Button */
    .nav-toggle {
        display: none;
    }
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
    .nav-header {
        padding: 0 0;
    }

    .nav-link {
        padding: 0 0;
        margin-right: 1.9rem;

    }

    .nav-link:hover {
        padding: 0 0;
        background-color: transparent;
    }
}

/* HERO */



#hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.hero-text-container {
    width: 70vw;
}

.hero-h1 {
    font-size: 3rem;
}

.hero-p1{
    font-weight: 800;
    font-size: 1.5rem;
}

.hero-p2 {
    letter-spacing: .10rem;
    font-size: 1rem;
    margin-top: 1rem;
    width: auto;
    padding-top: 1rem;
}

button {
    padding: 1rem;
    margin: 3rem .40rem 0 .40rem;
    font-family: var(--ff-primary);
    font-size: .80rem;
    background-color: transparent;
    border: .13rem solid black;
    font-weight: 600;
    border-radius: 2.9rem;
    cursor: pointer;
    transition: var(--transition);

}

button:hover{
    background-color: #4477CE;
    color: white;
    transform: scale(1.1);
}

.hero-img-container{
    margin-top: 5rem;
}
.portrait {
    width: 60vw;
    height: auto;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 20vh;
    display: none;
}


.icons {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
}

.icon {
    font-size: 3rem;
}
/* .icon {
    font-size: 3rem;
    margin: 2rem 5rem;
    transition: var(--transition);
    cursor: pointer;
} */

.icon:hover{
    transform: scale(1.2)
}


.icons1 {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .hero-img-container{
        margin-top: 10rem;
    }
    .portrait {
        width: 50vw;
        height: auto;
    }
    
    .btn {
        margin-bottom: 1rem;
    }
}

/* Expand Navbar */
@media screen and (min-width: 992px) {
    #hero {
        width: 70vw;
        flex-direction: row;
        margin: auto;
        height: 80vh;
    }

    .hero-text-container{
        height: auto;
        width: rem;
        padding-top: 8rem;
    }
    .hero-h1{
        font-size: 3.6rem;
    }
    .hero-p2{
        font-size: 1.3rem;
        max-width: 560px;
    }
    .hero-img-container{

        margin-top: 0;
    }
    .portrait {
        width: 30vw;
    }

    .icon-container{
        display: flex;
        justify-content: center;
        height: 20vh;
        
    }

    .icons{
        display: flex;
        justify-content: space-evenly;
        width: 30vw;
    }
    .icon {
        font-size: 3rem;
        margin: 0 1rem;
    }

    .icons2{
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    #hero {
        margin-top: 4rem;
        width: 60vw;
        padding: 2rem;
        height: 73vh;
    }
    .icons {
        height: 11vh;
        align-items: center;
    }
    .icon:hover {
        cursor: pointer;
    }

    .portrait {
        width: 30vw;
        padding-right: 5rem;
    }
}


/* END OF HERO */





/* ABOUT ME */
.about{
    padding: 3.8rem 0;
}

.about-img-center{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.chef-photo {
    width: 15rem;
    border-radius: 5%;
}

.about-me-center{
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.about-h1{
    font-size: 2.5rem;
}

.about-p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    letter-spacing: .1rem;
}

.options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    font-weight: 1000;
}

.tab-contents {
    margin-top: 1rem;
}
.list-1 {
    color: red;
    padding-top: .8rem ;
    padding-bottom: .2rem;
}

.list-2 {
    font-size: 1.2rem;
    word-spacing: .2rem;
}

@media screen and (min-width: 768px) {
    .about {
        margin-top: 2rem;
    }
    .chef-photo {
        width: 40vw;
    }

    .about-me-center {
        width: 80vw;
        margin-left: 4rem;
    }

    .about-p {
        margin-bottom: 2rem;
    }
    .options {
        margin-top: 0rem;
    }

}

/* Expand Navbar */
@media screen and (min-width: 992px) {
    .about{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-center {
        display: flex;
        width: 80%;
    }

    .chef-photo{
        width: 40vw;
        height: auto;
    }
}


@media screen and (min-width: 1200px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    .about-center {
        width: 70vw;
    }
    .chef-photo {
        width: 30vw;
        height: auto;
    }
}
@media screen and (min-width:1900px) {
    .about-center {
        display: flex;
        justify-content: center;
        width: 70vw;
    }

    .chef-photo {
        width: 20vw;
    }


    .about-h1{
      font-size: 3.5rem;
    }

    .about-p {
        font-size: 1.5rem;
    }

    .options {
        font-size: 1rem;
    }

    .list-1 {
        font-size: 1.1rem;
    }

    .list-2 {
        font-size: 1.3rem;
    }
}

.tab-links {
    cursor: pointer;
}

#show {
    display: block;
}


#hide{
    display: none;
}
/* END OF ABOUT ME */