/* =========================
Variables 
===========================*/

:root {
    --clr-primary-1: #35155D;
    --clr-primary-2: #512B81;
    --clr-primary-3: #4477CE;
    --clr-primary-4: #8CABFF;

    --clr-white: #fff;
    /* font family */
    --ff-primary: "Lora", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--dark-shadow);
    z-index: 2;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-toggle {
    background: transparent;
    border: transparent;
    font: 1.5rem ;
    cursor: pointer;
    transition: var(--transition);
}

.nav-toggle:hover {
    transform: scale(1.2);
}

.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: black;
    cursor: pointer;
    font-size: 1rem;
}

.nav-link:hover {
    color: gray;
    background-color: lightgray;
    padding-left: 2.25rem;
}

/* 280px */
.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links{
    height: 280px;
}

@media screen and (min-width: 992px){

    .navbar{
        padding: 1rem 2rem;
    }
    /* Hide Toggle Button */
    .nav-toggle {
        display: none;
    }
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
    .nav-header {
        padding: 0 0;
    }

    .nav-link {
        padding: 0 0;
        margin-right: 1.9rem;
        
    }

    .nav-link:hover {
        padding: 0 0;
        background-color: transparent;
    }

}

.nbd {
    margin-top: 20rem;

}